/* Button Mixins */
@mixin flex-sized-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-lg;
    padding: $padding;
    font-size: $font-size;
    transition: $transition;
    gap: 6px;
}


@mixin button-styles($background, $hover, $active) {
    background-color: $background;
    color: $white-color;
    // border: 1px solid var(--border-color);
    @include flex-sized-button;
    cursor: pointer;
    box-shadow: $box-shadow;

    &:hover {
        background-color: $hover;
        transform: translateY(-1px);
        box-shadow: $box-shadow-lighter;
    }

    &:active {
        background-color: $active;
        transform: translateY(1px);
    }
}

@mixin button-variant($background, $hover, $active) {
    @include button-styles($background, $hover, $active);
}

@mixin outline-variant($color, $hover, $active) {
    background-color: transparent;
    color: $color;
    border: 1px solid $color;
    border-radius: $border-radius-lg;
    @include flex-sized-button;

    &:hover {
        background-color: $hover;
        color: $white-color;
        border: 1px solid $hover;
        box-shadow: $box-shadow;
        transform: translateY(-2px);
    }

    &:active {
        background-color: $active;
        color: $white-color;
        border: 1px solid $active;
        transform: translateY(1px);
    }
}

@mixin disabled-variant {
    background-color: #ccc; // Use the desired grey color
    color: darken($white-color, 5%);
    cursor: not-allowed;
    box-shadow: none;
    border-radius: $border-radius-lg;
    // Assuming you have a mixin called flex-sized-button
    @include flex-sized-button;

    &:hover,
    &:active {
        color: darken($white-color, 50%);
        background-color: darken(#ccc, 10%); // Darken the grey color on hover and active states
        transform: none;
    }
}


/* How to use: */
//  <button class="special-button outline-primary">See event details</button>
//  <button class="special-button primary">See event details</button>
//  <button class="special-button secondary">See event details</button>
//  <button class="special-button outline-secondary">See event details</button>
//  <button class="special-button disabled" disabled>See event details</button>

/* Seat Mixins */

@mixin seat-styles {
    @each $text-style in $text-subtitle-1, $text-body-1 {
        $font-size: map-get($text-style, font-size);
        $font-weight: map-get($text-style, font-weight);
        $color: map-get($text-style, color);
        font-size: $font-size;
        font-weight: $font-weight;
        color: $color;
    }
    transition: $transition;
    background-color: #e4e4e4;
    box-shadow: $box-shadow-lighter;

    &:hover {
        color: $white-color;
        background-color: var(--primary-color-1);
        transform: scale(1.05);
    }
    
    &:active {
        background-color: var(--primary-color-2);
        transform: scale(0.95);
    }
}

@mixin seat-taken-styles($background) {
    background-color: $background; // Adjust the color as needed
    color: white;

    &:hover {
        background-color: #ff6666; // Adjust the hover color as needed
    }

    &:active {
        background-color: #cc0000; // Adjust the active color as needed
    }
}

@mixin seat-selected-styles {
    background-color: #1eff00; // Adjust the color as needed

    &:hover {
        background-color: #bfff8b; // Adjust the hover color as needed
    }

    &:active {
        background-color: #41e600; // Adjust the active color as needed
    }
}

/* Other Mixins */

@mixin pulseBorderKeyframes($keyframeName, $color1, $color2, $borderColor, $boxShadow) {
    @keyframes #{$keyframeName} {
        0% {
            background-color: $white-color;
            outline: 1px solid $color1;
            box-shadow: $boxShadow;
        }

        50% {
            box-shadow: $boxShadow;
            background-color: rgba($color: $color2, $alpha: 0.5);
            outline: 1px solid $color1;
        }

        100% {
            outline: 1px solid $borderColor;
        }
    }
}