/* Button Mixins */
@mixin flex-sized-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-lg;
    padding: $padding;
    font-size: $font-size;
    transition: $transition;
    gap: 6px;
}


@mixin button-styles($background, $hover, $active) {
    background-color: $background;
    color: $white-color;
    // border: 1px solid var(--border-color);
    @include flex-sized-button;
    cursor: pointer;
    box-shadow: $box-shadow;

    &:hover {
        background-color: $hover;
        transform: translateY(-1px);
        box-shadow: $box-shadow-lighter;
    }

    &:active {
        background-color: $active;
        transform: translateY(1px);
    }
}

@mixin button-variant($background, $hover, $active) {
    @include button-styles($background, $hover, $active);
}

@mixin outline-variant($color, $hover, $active) {
    background-color: transparent;
    color: $color;
    border: 1px solid $color;
    border-radius: $border-radius-lg;
    @include flex-sized-button;

    &:hover {
        background-color: $hover;
        color: $white-color;
        border: 1px solid $hover;
        box-shadow: $box-shadow;
        transform: translateY(-2px);
    }

    &:active {
        background-color: $active;
        color: $white-color;
        border: 1px solid $active;
        transform: translateY(1px);
    }
}

@mixin disabled-variant {
    background-color: #ccc; // Use the desired grey color
    color: darken($white-color, 5%);
    cursor: not-allowed;
    box-shadow: none;
    border-radius: $border-radius-lg;
    // Assuming you have a mixin called flex-sized-button
    @include flex-sized-button;

    &:hover,
    &:active {
        color: darken($white-color, 50%);
        background-color: darken(#ccc, 10%); // Darken the grey color on hover and active states
        transform: none;
    }
}


/* How to use: */
//  <button class="special-button outline-primary">See event details</button>
//  <button class="special-button primary">See event details</button>
//  <button class="special-button secondary">See event details</button>
//  <button class="special-button outline-secondary">See event details</button>
//  <button class="special-button disabled" disabled>See event details</button>

/* Seat Mixins */

@mixin base-seat-styles($bg-color, $hover-bg-color, $active-bg-color, $focus-box-shadow-color: rgba(0, 0, 0, 0.5)) {
    background-color: $bg-color;
    transition: $transition;

    &:hover {
        background-color: $hover-bg-color;
        transform: scale(1.05);
    }

    &:active {
        background-color: $active-bg-color;
        transform: scale(0.95);
        outline: none;
        box-shadow: 0 0 0 4px $focus-box-shadow-color;
    }
}

@mixin seat-styles($bg-color, $hover-bg-color, $active-bg-color, $focus-box-shadow-color: rgba(0, 0, 0, 0.5), $color: var(--light-title-color), $box-shadow: $box-shadow-lighter) {
    @include base-seat-styles($bg-color, $hover-bg-color, $active-bg-color, $focus-box-shadow-color);
    color: $color;
    box-shadow: $box-shadow;
}


/* Other Mixins */

@mixin pulseBorderKeyframes($keyframeName, $color1, $color2, $borderColor, $boxShadow) {
    @keyframes #{$keyframeName} {
        0% {
            background-color: $white-color;
            outline: 1px solid $color1;
            box-shadow: $boxShadow;
        }

        50% {
            box-shadow: $boxShadow;
            background-color: rgba($color: $color2, $alpha: 0.5);
            outline: 1px solid $color1;
        }

        100% {
            outline: 1px solid $borderColor;
        }
    }
}

@mixin text-styles($font-size, $weight, $color) {
    font-size: $font-size;
    font-weight: $weight !important;
    color: $color;
}

@mixin text-bold {
    font-weight: 800;
}

@mixin text-underline {
    text-decoration: underline !important;
}