// Light Theme Variables
:root {
  --light-title-color: #2D2D2D;
  --dark-title-color: #101b20;
  --light-text-color: #F9F9F9;
  --light-subtitle-color: #B8B8B8;
  --dark-subtitle-color: #737373;
  --background-color: #EAEEF2;
  --dark-background-color: #223841;
  --light-background-color: #eff3f8;
  --extralight-background-color: #F5F7F8;
  --text-color: #333;
  // --hover-color: #46A6F4;
  // --disabled-element-color: #8EC2F2;
  // --muted-color: #BDBDBD;
  // --success-color: #2DC071;
  // --alert-color: #F48242;
  // --danger-color: #E74040;
  // --white-color: #ffffff;
}

// Dark Theme Variables
body.dark-theme {
  --light-title-color: #F9F9F9;
  --dark-title-color: #EAEEF2;
  --light-text-color: #2D2D2D;
  --light-subtitle-color: #737373;
  --dark-subtitle-color: #B8B8B8;
  --background-color: #201017;
  --dark-background-color: #412238;
  --light-background-color: #2D2D2D;
  --extralight-background-color: #2b1a27;
  --text-color: #F9F9F9;
  // --hover-color: #46A6F4;
  // --disabled-element-color: #8EC2F2;
  // --muted-color: #BDBDBD;
  // --success-color: #2DC071;
  // --alert-color: #F48242;
  // --danger-color: #E74040;
  // --white-color: #ffffff;
}

$primary-color-1: #ff97aa;
$primary-color-2: #ffbfca;
$primary-color-3: #ffe6eb;

$secondary-color-1: #f097fc;
$secondary-color-2: #f8c0f5;

// $light-title-color: #2D2D2D;
// $dark-title-color: #101b20;

// $light-text-color: #F9F9F9;

// $light-subtitle-color: #B8B8B8;
// $dark-subtitle-color: #737373;

// $background-color: #EAEEF2;
// $dark-background-color: #223841;
// $light-background-color: #eff3f8;
// $extralight-background-color: #F5F7F8;

$hover-color: #46A6F4;
$disabled-element-color: #8EC2F2;
$muted-color: #BDBDBD;
$success-color: #2DC071;
$alert-color: #F48242;
$danger-color: #E74040;

$font-family: "Rethink Sans";

$white-color: #ffffff;
$border-color: rgba(194, 194, 194, 0.6);
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
$box-shadow-lighter: 0 2px 10px rgba(0, 0, 0, 0.1);
$border-radius-sm: 4px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$padding: 10px 20px;
$font-size: 14px;
$transition: background-color 0.3s, transform 0.3s;


$breakpoint-sm: 576px;

// Typography Variables
$text-h1: (
  font-size: 2.5rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-h2: (
  font-size: 2rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-h3: (
  font-size: 1.75rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-h4: (
  font-size: 1.5rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-h5: (
  font-size: 1.25rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-h6: (
  font-size: 1rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-subtitle-1: (
  font-size: 1rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-subtitle-2: (
  font-size: 0.875rem,
  font-weight: bold,
  color: var(--text-color)
);

$text-body-1: (
  font-size: 1rem,
  font-weight: normal,
  color: var(--text-color)
);

$text-body-2: (
  font-size: 0.875rem,
  font-weight: normal,
  color: var(--text-color)
);

$text-button: (
  font-size: 0.875rem,
  font-weight: bold,
  color: $primary-color-1
);

$text-caption: (
  font-size: 0.75rem,
  font-weight: normal,
  color: var(--text-color)
);

$text-overline: (
  font-size: 0.625rem,
  font-weight: bold,
  text-transform: uppercase,
  color: var(--text-color)
);

$text-underline: (
  text-decoration: underline
);


$primaryAnimationName: pulseBorderPrimary;
$secondaryAnimationName: pulseBorderSecondary;