@import '../utils/variables.scss';

.v-stepper>.v-stepper-header {
    outline: 1px solid --light-subtitle-color;
    box-shadow: $box-shadow-lighter;
}

.booking-container {
    @media screen and (max-width: 450px) {
        padding: 5px !important;
    }
}

.v-stepper>.v-window {
    @media screen and (max-width: 450px) {
        margin: 5px;
    }
}

.section {
    border-radius: $border-radius-lg;
    transition: $transition;
    outline: 0px solid;

    &.lighter {
        background-color: var(--section-color-lighter);
        outline: 1px solid var(--border-color);
    }

    &.primary {
        background-color: var(--primary-color-2);
    }

    &.outline-grey {
        outline: 2px solid var(--border-color);
    }

    &.tonal {
        background-color: var(--section-color-tonal);

        &:focus-visible,
        &:focus,
        &:focus-within {
            outline: 2px solid var(--border-color);
        }
    }

    &.white {
        background-color: rgba($color: $white-color, $alpha: 0.4);
    }
}


.fade-in-border {

    &.primary {
        animation: #{$primaryAnimationName} 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
        outline: 2px solid var(--primary-color-1);
        @include pulseBorderKeyframes(#{$primaryAnimationName}, var(--primary-color-1), var(--primary-color-2), var(--border-color), $box-shadow-lighter);
    }

    &.secondary {
        animation: #{$secondaryAnimationName} 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
        outline: 2px solid var(--secondary-color-1);
        @include pulseBorderKeyframes(#{$secondaryAnimationName}, var(--secondary-color-1), var(--secondary-color-2), var(--border-color), $box-shadow);
    }

}

