.order-badge {
    padding: .25em .5rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4rem !important;
}

.INSTOCK_TAG {
    background: rgb(196, 255, 201);
    color: rgb(19, 134, 54);
}

.ACTIVE_TAG {
    background: rgb(196, 255, 201);
    color: rgb(19, 134, 54);
}

.OUTOFSTOCK_TAG {
    background: #ffe8e9;
    color: rgb(206, 22, 22);
}

.LOWSTOCK_TAG {
    background: rgb(255, 239, 196);
    color: rgb(134, 103, 19);
}

.UNAVAILABLE_TAG {
    background: #ffe8e9;
    color: rgb(206, 22, 22);
}

.AVAILABLE_TAG {
    background: rgb(196, 255, 201);
    color: rgb(19, 134, 54);
}

.UNDEFINED_STATUS {
    background: #ffe8e9;
    color: rgb(206, 22, 22);
}

.PENDING_TAG {
    background: rgb(255, 249, 196);
    color: rgb(134, 107, 19);
}

.DELIVERED_TAG {
    background: rgb(196, 255, 201);
    color: rgb(19, 134, 54);
}
.AWAIT_UPLOAD_TAG {
    background: rgb(227, 239, 255);
    color: rgb(44, 90, 133);
}

.RETURNED_TAG {
    background: rgb(255, 241, 196);
    color: rgb(134, 71, 19);
}

.COMPLETED_TAG {
    background: #30eb38;
    color: #ffffff;
}

.SUCCESS_TAG{
    background: #00b114;
    color: #ffffff;
}

.DANGER_TAG{
    background: #f10000;
    color: #ffffff;
}

.WaARNING_TAG{
    background: #E4A11B;
    color: #ffffff;
}
