@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.avatar {
  transition: $transition cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  border: 0 solid $white-color;

  &.dark-theme {
    &:hover {
      border-width: 2px !important;
    }
  }

  &.light-theme {
    // border: 2px solid black;
  }

  &:hover {
    transform: rotate(10deg) scale(0.95);
  }
}

.theme-button {
  height: 35px;
  width: 10px;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #20c997);
  background-size: 400%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  outline: none;
  z-index: 100000;
}

.theme-button:hover {
  background-position: right;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transform: scale(0.75);
  width: 35px;
  border-radius: 50px;
}

.theme-button:active {
  transform: scale(0.95);
}


.special-button {
  &.primary {
    @include button-variant(var(--primary-color-1), var(--primary-color-2), var(--primary-color-3));
  }

  &.secondary {
    @include button-variant(var(--secondary-color-1), var(--secondary-color-2), var(--secondary-color-1));
  }

  &.outline-primary {
    @include outline-variant(var(--primary-color-1), var(--primary-color-2), var(--primary-color-3));
  }

  &.outline-secondary {
    @include outline-variant(var(--secondary-color-1), var(--secondary-color-2), var(--secondary-color-1));
  }

  &.disabled {
    @include disabled-variant;
  }

  &.outline-black {
    @include outline-variant(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5), rgba(170, 170, 170, 0.5));
  }

  &.black {
    @include button-variant(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  }

  &.outline-white {
    @include outline-variant(rgba(0, 0, 0, 0.4), rgba(200, 200, 200, 0.4), rgba(240, 240, 240, 0.6));

    &:hover {
      color: rgba(0, 0, 0, 0.4);
    }

    &:active {
      border: 1px solid rgba(0, 0, 0, 0.4)
    }
  }

  &.white {
    @include button-variant(rgba(167, 167, 167, 0.75), rgba(172, 172, 172, 0.5), rgba(223, 223, 223, 0.5));

    &:active {
      color: black;
      border: 1px solid rgba(0, 0, 0, 0.4)
    }
  }

  &.primary-lighter {
    @include button-variant(var(--primary-color-2), var(--primary-color-3), var(--primary-color-3));
  }
}

.seat {
  width: 100%;
  min-width: 50px;
  height: 100%;
  min-height: 50px;
  border: none;
  border-radius: $border-radius-sm;
  color: $white-color;
  font-size: $font-size;
  cursor: pointer;
  transition: $transition ease-in-out;

  @media (max-width: $breakpoint-sm) {
    font-size: 12px !important;
    width: 100%;
    min-width: unset;
    height: 40px;
    min-height: unset;
  }

  &.driver {
    background-color: #2990ff;

    &:hover {
      background-color: #4b7baf;
    }

    &:active {
      background-color: #606f7e;
    }
  }

  &.passenger {
    @include seat-styles;
  }

  &.normal {
    @include seat-styles;
  }

  &.not-seat {
    background-color: #c5c5c5;
    opacity: 0.005;

    &:hover {
      background-color: #c5c5c5;
      opacity: 0.01;
    }

    &:active {
      background-color: #c5c5c5;
      opacity: 0.015;
    }
  }

  &.is-taken {
    @include seat-taken-styles(var(--danger-color));
  }

  &.is-selected {
    @include seat-selected-styles;
  }
}

.white-button {
  @include button-variant(white, #333, #555);
  color: #333;

  &:hover {
    color: white;
  }

  &:active {
    color: white;
  }
}

.whatsapp-button {
  @include button-variant(#25D366, #52ff91, #128c45);
  color: white;
}

.facebook-button {
  @include button-variant(#4664a7, #546fac, #1d305b);
  color: white;
}